/*  ============= WEB BROWSER RESETS ============ */
* { margin: 0; padding: 0; border: none }
*, *::before, *::after { box-sizing: border-box }
html { height: 100%; font-size: 100%; font: inherit; vertical-align: baseline;
scroll-behavior: smooth; scroll-padding-top: 20px }
body { line-height: 1.5; min-height: 100vh }
@media (max-width: 767px ) { body { text-rendering: optimizeSpeed } }
@media (min-width: 768px ) { body { text-rendering: optimizeLegibility } }
img { width: 100%; height: auto; display: block }
input, button, textarea, select { font: inherit }




.section-1{
    background-color: darkolivegreen;
}
.section-1 h1{
    text-align: center;
}
.menu{
    padding-top: 0px;
}

nav{
    
    background-color: darkolivegreen;
}


.me{

    background-color: #A9B388;
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
}
.me .text{
    font-family:'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif; 
    font-size:large;
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
}

.me img{
    border-radius: 75%;
    width: 200px;
    border-style:double ;
    border-color: darkolivegreen;
}


.links-wrapper a:link, a:visited {
    text-decoration: none;
    padding-bottom: 2px;
    color: white;
} 
                                        
/* Interactive link styles */              
.li:hover, .li:focus, .li:active {
    text-decoration: none; 
    padding-bottom: 2px;
    color: #A9B388;
}

.head {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    min-height: 500px;
    position: relative;
    display: flex;
    flex-direction: column;
    justify-content: center;
    background-color: gray;
    overflow: none;
    text-align: center;
}


.head-text { 
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    padding: 0 12% 4% 12%;
    z-index: 2; 
    flex-direction: column;
    gap: 32px;
    padding: 42px 9% 20px 9%;
}

footer{
    text-align: center;
}





.head-image {
    position: absolute; top: 0; right: 0; bottom: 0; left: 0; 
    z-index: 0;
}
                    
.head-image img {
    object-fit: cover; width: 100%; height: 100%;
}
  
.bg-overlay {
    position: absolute; top: 0; right: 0; bottom: 0; left: 0;  
    z-index: 1;
    background-image: linear-gradient(rgba(0,0,0,0.3),rgba(0,0,0,0.3));   
}
.section-1{
    justify-content: center;
}
.lang{
    padding-top: 6%;
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
}

.head h1, .head h2 {
    line-height: 1.2;
    color:#fff;
    text-shadow: 2px 2px #222;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}

.links-wrapper {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    padding-top: 5%;
    padding-bottom: 5%;
    padding-inline: 7%;
}

.head h1 {
    font-size: calc(64px + (112 - 64) * ((100vw - 320px) / (1600 - 320)));
    margin-bottom: 24px;
}

.head h2 {
    font-weight: normal;
    font-size: calc(30px + (64 - 30) * ((100vw - 320px) / (1600 - 320)));
    text-transform: uppercase;
}


.section-2{
    background-color:#FFF8E3;
}

.footer{
    background-color: darkolivegreen ;
    color: #fff;
    text-shadow: 1px 1px 1px 1px #222;
}

.footer-link{
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    padding: 12%;
}
.footer-icons{
    color: #fff;
}



.bt:link, .bt:visited {
    text-decoration: none;
    padding-bottom: 2px;
    color: darkolivegreen;
} 

.bt:hover, .bt:focus, .bt:active {
    text-decoration: none; 
    padding-bottom: 2px;
    color: #A9B388;
}



.btn:link, .btn:visited {
    text-decoration: none;
    padding-bottom: 2px;
    color: darkolivegreen;
} 

.btn:hover, .btn:focus, .btn:active {
    text-decoration: none; 
    padding-bottom: 2px;
    color: #A9B388;
}


.footer a:link, a:visited {
    text-decoration: none;
    padding-bottom: 2px;
    color: white;
} 
                                        
/* Interactive link styles */              
.footer a:hover, a:focus, a:active {
    text-decoration: none; 
    padding-bottom: 2px;
    color: #A9B388;
}

.slide-right {
	-webkit-animation: slide-right 1s cubic-bezier(0.250, 0.460, 0.450, 0.940) both;
	        animation: slide-right 1s cubic-bezier(0.250, 0.460, 0.450, 0.940) both;
}

.slide-left {
	-webkit-animation: slide-left 0.5s cubic-bezier(0.250, 0.460, 0.450, 0.940) both;
	        animation: slide-left 0.5s cubic-bezier(0.250, 0.460, 0.450, 0.940) both;
}

.slide-in-fwd-center {
	-webkit-animation: slide-in-fwd-center 2s cubic-bezier(0.250, 0.460, 0.450, 0.940) both;
	        animation: slide-in-fwd-center 2s cubic-bezier(0.250, 0.460, 0.450, 0.940) both;
}

/* ----------------------------------------------
 * Generated by Animista on 2024-1-31 11:47:17
 * Licensed under FreeBSD License.
 * See http://animista.net/license for more info. 
 * w: http://animista.net, t: @cssanimista
 * ---------------------------------------------- */

/**
 * ----------------------------------------
 * animation slide-right
 * ----------------------------------------
 */
 @-webkit-keyframes slide-right {
    0% {
      -webkit-transform: translateX(0);
              transform: translateX(0);
    }
    100% {
      -webkit-transform: translateX(100px);
              transform: translateX(100px);
    }
  }
  @keyframes slide-right {
    0% {
      -webkit-transform: translateX(0);
              transform: translateX(0);
    }
    100% {
      -webkit-transform: translateX(100px);
              transform: translateX(100px);
    }
  }
  

  /* ----------------------------------------------
 * Generated by Animista on 2024-1-31 11:48:47
 * Licensed under FreeBSD License.
 * See http://animista.net/license for more info. 
 * w: http://animista.net, t: @cssanimista
 * ---------------------------------------------- */

/**
 * ----------------------------------------
 * animation slide-left
 * ----------------------------------------
 */
@-webkit-keyframes slide-left {
    0% {
      -webkit-transform: translateX(0);
              transform: translateX(0);
    }
    100% {
      -webkit-transform: translateX(-100px);
              transform: translateX(-100px);
    }
  }
  @keyframes slide-left {
    0% {
      -webkit-transform: translateX(0);
              transform: translateX(0);
    }
    100% {
      -webkit-transform: translateX(-100px);
              transform: translateX(-100px);
    }
  }


  /* ----------------------------------------------
 * Generated by Animista on 2024-1-31 11:51:20
 * Licensed under FreeBSD License.
 * See http://animista.net/license for more info. 
 * w: http://animista.net, t: @cssanimista
 * ---------------------------------------------- */

/**
 * ----------------------------------------
 * animation slide-in-fwd-center
 * ----------------------------------------
 */
@-webkit-keyframes slide-in-fwd-center {
    0% {
      -webkit-transform: translateZ(-1400px);
              transform: translateZ(-1400px);
      opacity: 0;
    }
    100% {
      -webkit-transform: translateZ(0);
              transform: translateZ(0);
      opacity: 1;
    }
  }
  @keyframes slide-in-fwd-center {
    0% {
      -webkit-transform: translateZ(-1400px);
              transform: translateZ(-1400px);
      opacity: 0;
    }
    100% {
      -webkit-transform: translateZ(0);
              transform: translateZ(0);
      opacity: 1;
    }
  }
  
  

